.sprite_icon_20{display:inline-block;width:20px;height:20px;}
.sprite_icon_20_img{background:url('//jeffreybrayne.com/break/data/media/0/0/jrElastic_sprite_20.png') no-repeat top left; height:100%;width:100%;}
.sprite_icon_20_arrow-down{background-position:0 0;}
.sprite_icon_20_arrow-left{background-position:-20px 0;}
.sprite_icon_20_arrow-right{background-position:-40px 0;}
.sprite_icon_20_arrow-up{background-position:-60px 0;}
.sprite_icon_20_attach{background-position:-80px 0;}
.sprite_icon_20_brush{background-position:-100px 0;}
.sprite_icon_20_bundle{background-position:-120px 0;}
.sprite_icon_20_camera{background-position:-140px 0;}
.sprite_icon_20_cancel{background-position:-160px 0;}
.sprite_icon_20_cart{background-position:-180px 0;}
.sprite_icon_20_chart{background-position:-200px 0;}
.sprite_icon_20_close{background-position:-220px 0;}
.sprite_icon_20_download{background-position:-240px 0;}
.sprite_icon_20_gear{background-position:-260px 0;}
.sprite_icon_20_gears{background-position:-280px 0;}
.sprite_icon_20_globe{background-position:-300px 0;}
.sprite_icon_20_hand{background-position:-320px 0;}
.sprite_icon_20_headphone{background-position:-340px 0;}
.sprite_icon_20_info{background-position:-360px 0;}
.sprite_icon_20_key{background-position:-380px 0;}
.sprite_icon_20_light{background-position:-400px 0;}
.sprite_icon_20_link{background-position:-420px 0;}
.sprite_icon_20_lock{background-position:-440px 0;}
.sprite_icon_20_male{background-position:-460px 0;}
.sprite_icon_20_music{background-position:-480px 0;}
.sprite_icon_20_next{background-position:-500px 0;}
.sprite_icon_20_ok{background-position:-520px 0;}
.sprite_icon_20_pen{background-position:-540px 0;}
.sprite_icon_20_pen2{background-position:-560px 0;}
.sprite_icon_20_play{background-position:-580px 0;}
.sprite_icon_20_plus{background-position:-600px 0;}
.sprite_icon_20_pointer{background-position:-620px 0;}
.sprite_icon_20_previous{background-position:-640px 0;}
.sprite_icon_20_question{background-position:-660px 0;}
.sprite_icon_20_quote{background-position:-680px 0;}
.sprite_icon_20_record{background-position:-700px 0;}
.sprite_icon_20_redo{background-position:-720px 0;}
.sprite_icon_20_refresh{background-position:-740px 0;}
.sprite_icon_20_ring{background-position:-760px 0;}
.sprite_icon_20_rss{background-position:-780px 0;}
.sprite_icon_20_search{background-position:-800px 0;}
.sprite_icon_20_search2{background-position:-820px 0;}
.sprite_icon_20_settings{background-position:-840px 0;}
.sprite_icon_20_site{background-position:-860px 0;}
.sprite_icon_20_star-empty{background-position:-880px 0;}
.sprite_icon_20_star{background-position:-900px 0;}
.sprite_icon_20_star2{background-position:-920px 0;}
.sprite_icon_20_star3{background-position:-940px 0;}
.sprite_icon_20_stats{background-position:-960px 0;}
.sprite_icon_20_tag{background-position:-980px 0;}
.sprite_icon_20_target{background-position:-1000px 0;}
.sprite_icon_20_trash{background-position:-1020px 0;}
.sprite_icon_20_undo{background-position:-1040px 0;}
.sprite_icon_20_upload{background-position:-1060px 0;}
.sprite_icon_20_wizard{background-position:-1080px 0;}
