.sprite_icon_30{display:inline-block;width:30px;height:30px;}
.sprite_icon_30_img{background:url('//jeffreybrayne.com/break/data/media/0/0/jrElastic_sprite_30.png') no-repeat top left; height:100%;width:100%;}
.sprite_icon_30_arrow-down{background-position:0 0;}
.sprite_icon_30_arrow-left{background-position:-30px 0;}
.sprite_icon_30_arrow-right{background-position:-60px 0;}
.sprite_icon_30_arrow-up{background-position:-90px 0;}
.sprite_icon_30_attach{background-position:-120px 0;}
.sprite_icon_30_brush{background-position:-150px 0;}
.sprite_icon_30_bundle{background-position:-180px 0;}
.sprite_icon_30_camera{background-position:-210px 0;}
.sprite_icon_30_cancel{background-position:-240px 0;}
.sprite_icon_30_cart{background-position:-270px 0;}
.sprite_icon_30_chart{background-position:-300px 0;}
.sprite_icon_30_close{background-position:-330px 0;}
.sprite_icon_30_download{background-position:-360px 0;}
.sprite_icon_30_gear{background-position:-390px 0;}
.sprite_icon_30_gears{background-position:-420px 0;}
.sprite_icon_30_globe{background-position:-450px 0;}
.sprite_icon_30_hand{background-position:-480px 0;}
.sprite_icon_30_headphone{background-position:-510px 0;}
.sprite_icon_30_info{background-position:-540px 0;}
.sprite_icon_30_key{background-position:-570px 0;}
.sprite_icon_30_light{background-position:-600px 0;}
.sprite_icon_30_link{background-position:-630px 0;}
.sprite_icon_30_lock{background-position:-660px 0;}
.sprite_icon_30_male{background-position:-690px 0;}
.sprite_icon_30_music{background-position:-720px 0;}
.sprite_icon_30_next{background-position:-750px 0;}
.sprite_icon_30_ok{background-position:-780px 0;}
.sprite_icon_30_pen{background-position:-810px 0;}
.sprite_icon_30_pen2{background-position:-840px 0;}
.sprite_icon_30_play{background-position:-870px 0;}
.sprite_icon_30_plus{background-position:-900px 0;}
.sprite_icon_30_pointer{background-position:-930px 0;}
.sprite_icon_30_previous{background-position:-960px 0;}
.sprite_icon_30_question{background-position:-990px 0;}
.sprite_icon_30_quote{background-position:-1020px 0;}
.sprite_icon_30_record{background-position:-1050px 0;}
.sprite_icon_30_redo{background-position:-1080px 0;}
.sprite_icon_30_refresh{background-position:-1110px 0;}
.sprite_icon_30_ring{background-position:-1140px 0;}
.sprite_icon_30_rss{background-position:-1170px 0;}
.sprite_icon_30_search{background-position:-1200px 0;}
.sprite_icon_30_search2{background-position:-1230px 0;}
.sprite_icon_30_settings{background-position:-1260px 0;}
.sprite_icon_30_site{background-position:-1290px 0;}
.sprite_icon_30_star-empty{background-position:-1320px 0;}
.sprite_icon_30_star{background-position:-1350px 0;}
.sprite_icon_30_star2{background-position:-1380px 0;}
.sprite_icon_30_star3{background-position:-1410px 0;}
.sprite_icon_30_stats{background-position:-1440px 0;}
.sprite_icon_30_tag{background-position:-1470px 0;}
.sprite_icon_30_target{background-position:-1500px 0;}
.sprite_icon_30_trash{background-position:-1530px 0;}
.sprite_icon_30_undo{background-position:-1560px 0;}
.sprite_icon_30_upload{background-position:-1590px 0;}
.sprite_icon_30_wizard{background-position:-1620px 0;}
