.sprite_icon_16{display:inline-block;width:16px;height:16px;}
.sprite_icon_16_img{background:url('//jeffreybrayne.com/break/data/media/0/0/jrMediaPro_sprite_16.png') no-repeat top left; height:100%;width:100%;}
.sprite_icon_16_arrow-down{background-position:0 0;}
.sprite_icon_16_arrow-left{background-position:-16px 0;}
.sprite_icon_16_arrow-right{background-position:-32px 0;}
.sprite_icon_16_arrow-up{background-position:-48px 0;}
.sprite_icon_16_attach{background-position:-64px 0;}
.sprite_icon_16_brush{background-position:-80px 0;}
.sprite_icon_16_bundle{background-position:-96px 0;}
.sprite_icon_16_camera{background-position:-112px 0;}
.sprite_icon_16_cancel{background-position:-128px 0;}
.sprite_icon_16_cart{background-position:-144px 0;}
.sprite_icon_16_chart{background-position:-160px 0;}
.sprite_icon_16_close{background-position:-176px 0;}
.sprite_icon_16_download{background-position:-192px 0;}
.sprite_icon_16_gear{background-position:-208px 0;}
.sprite_icon_16_gears{background-position:-224px 0;}
.sprite_icon_16_globe{background-position:-240px 0;}
.sprite_icon_16_hand{background-position:-256px 0;}
.sprite_icon_16_headphone{background-position:-272px 0;}
.sprite_icon_16_info{background-position:-288px 0;}
.sprite_icon_16_key{background-position:-304px 0;}
.sprite_icon_16_light{background-position:-320px 0;}
.sprite_icon_16_link{background-position:-336px 0;}
.sprite_icon_16_lock{background-position:-352px 0;}
.sprite_icon_16_male{background-position:-368px 0;}
.sprite_icon_16_music{background-position:-384px 0;}
.sprite_icon_16_next{background-position:-400px 0;}
.sprite_icon_16_ok{background-position:-416px 0;}
.sprite_icon_16_pen{background-position:-432px 0;}
.sprite_icon_16_pen2{background-position:-448px 0;}
.sprite_icon_16_play{background-position:-464px 0;}
.sprite_icon_16_plus{background-position:-480px 0;}
.sprite_icon_16_pointer{background-position:-496px 0;}
.sprite_icon_16_previous{background-position:-512px 0;}
.sprite_icon_16_question{background-position:-528px 0;}
.sprite_icon_16_quote{background-position:-544px 0;}
.sprite_icon_16_record{background-position:-560px 0;}
.sprite_icon_16_redo{background-position:-576px 0;}
.sprite_icon_16_refresh{background-position:-592px 0;}
.sprite_icon_16_ring{background-position:-608px 0;}
.sprite_icon_16_rss{background-position:-624px 0;}
.sprite_icon_16_search{background-position:-640px 0;}
.sprite_icon_16_search2{background-position:-656px 0;}
.sprite_icon_16_settings{background-position:-672px 0;}
.sprite_icon_16_site{background-position:-688px 0;}
.sprite_icon_16_star-empty{background-position:-704px 0;}
.sprite_icon_16_star{background-position:-720px 0;}
.sprite_icon_16_star2{background-position:-736px 0;}
.sprite_icon_16_star3{background-position:-752px 0;}
.sprite_icon_16_stats{background-position:-768px 0;}
.sprite_icon_16_tag{background-position:-784px 0;}
.sprite_icon_16_target{background-position:-800px 0;}
.sprite_icon_16_trash{background-position:-816px 0;}
.sprite_icon_16_undo{background-position:-832px 0;}
.sprite_icon_16_upload{background-position:-848px 0;}
.sprite_icon_16_wizard{background-position:-864px 0;}
